extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float center-block text-center big-to-space")
        h1 Hola Chat Node
        a(href="/login", class="right-space") Iniciar sesión
        a(href="/signup", class="right-space") Registro